{% extends 'base.html' %}

{%block content%}

<div class="preview-image">
	<p class="article-title">Gallery</p>
	<p class='subtitle center'>Screenshots</p>
</div>

<img src="https://github.com/alexeev-prog/carbon-colorscheme/raw/main/wallpapers/lines.jpg" alt="" class="image">
<br>
<img src="https://github.com/alexeev-prog/carbon-colorscheme/raw/main/screenshot.png" alt="" class="image">
<br>
<img src="https://github.com/alexeev-prog/carbon-colorscheme/blob/main/screenshot2.png" alt="" class="image">
<br>
<img src="https://github.com/alexeev-prog/carbon-colorscheme/raw/main/scr1.png" alt="" class="image">
<br>
<img src="https://github.com/alexeev-prog/carbon-colorscheme/blob/main/scr2.png" alt="" class="image">
<br>
<img src="https://github.com/alexeev-prog/carbon-colorscheme/raw/main/scr3.png" alt="" class="image">

{%endblock%}