{% extends 'base.html' %}

{%block content%}

<div class="preview-image">
	<p class="article-title">Alexeev Bronislav</p>
	<p class='subtitle center'>About me</p>
</div>
<h2 align="center">Hi, i am <a href="https://t.me/alexeev_dev" target="_blank" class='link'>Alexeev</a></h2>
<h4 align="right">Computer science student, developer<br>in C/C++, Go, Python and technical writer from Russia 🇷🇺 </h4>
<p>My name is Alexeev Bronislav. I am fullstack developer.</p>
<p>I am involved in system programming, creating CLI utilities, creating web applications, libraries and frameworks. I use Arch Linux as my main operating system.</p>
<p>I develop libraries and frameworks, as well as web applications and desktop programs. My main stack is Python, C/C++, Golang, HTML/CSS/JS.</p>

<div class="preview-image">
	<p class="article-title">Articles</p>
	<p class='subtitle center'>My articles and posts</p>
</div>

<h2>Russian</h2>

<ul>
	<li><a href="https://habr.com/ru/companies/timeweb/articles/851706/" class="link">Создаем свою ORM на Python</a></li>
	<li><a href="https://habr.com/ru/articles/813757/" class="link">Мини-заметка об оптимизации Arch Linux</a></li>
	<li><a href="https://habr.com/ru/companies/timeweb/articles/848584/" class="link">Управляем проектом и его документацией на Python</a></li>
	<li><a href="https://habr.com/ru/companies/timeweb/articles/847370/" class="link">Правильный путь создания python-библиотеки: от создания до публикации</a></li>
	<li><a href="https://habr.com/ru/companies/timeweb/articles/846736/" class="link">Создаем свою библиотеку на C++ с тестированием, CMake и блекджеком: часть 2</a></li>
	<li><a href="https://habr.com/ru/companies/timeweb/articles/845074/" class="link">Создаем свою простую (C++) библиотеку с документацией, CMake и блекджеком</a></li>
	<li><a href="https://habr.com/ru/companies/timeweb/articles/842878/" class="link">Программирование на C в Linux на примере создания командной оболочки: часть 2</a></li>
	<li><a href="https://habr.com/ru/companies/timeweb/articles/839890/" class="link">Программирование на C в Linux на примере создания своей командной оболочки</a></li>
	<li><a href="https://habr.com/ru/companies/timeweb/articles/836062/" class="link">Большое руководство по сетям и шифрованию трафика в Linux (часть 2)</a></li>
	<li><a href="https://habr.com/ru/companies/timeweb/articles/832302/" class='link'>Большое руководство по сетям и шифрованию трафика в Linux (часть 1)</a></li>
	<li><a href="https://habr.com/ru/companies/timeweb/articles/824146/" class="link">systemD с 0 до 1: библия сисадмина</a></li>
	<li><a href="https://habr.com/ru/articles/822099/" class="link">Дроиды и питоны: работаем с ADB на Python</a></li>
	<li><a href="https://habr.com/ru/companies/timeweb/articles/812413/" class="link">Фантастически быстрый деплой веб-приложения</a></li>
	<li><a href="https://habr.com/ru/companies/timeweb/articles/804865/" class="link">Числа и байты: как работает память в Linux?</a></li>
	<li><a href="https://habr.com/ru/companies/timeweb/articles/793224/" class="link">Вперед в будущее: Wayland против X11</a></li>
	<li><a href="Эльфы и пингвины: что такое ELF и как он работает в Linux?" class="link">https://habr.com/ru/companies/timeweb/articles/784534/</a></li>
	<li><a href="https://habr.com/ru/articles/782602/" class="link">Пингвин расставил сети: работа сети в Linux</a></li>
	<li><a href="https://habr.com/ru/companies/timeweb/articles/780082/" class="link">Тайны пингвина: как работают исключения и прерывания в Linux?</a></li>
	<li><a href="https://habr.com/ru/articles/778040/" class="link">Новые проклятия: руководство по ncurses</a></li>
	<li><a href="https://habr.com/ru/articles/777618/" class="link">О динамическом программировании на пальцах</a></li>
	<li><a href="https://habr.com/ru/articles/776494/" class="link">Заметка об истории Slackware</a></li>
	<li><a href="https://habr.com/ru/articles/776184/" class="link">Ретро кодинг: Привет из прошлого века</a></li>
	<li><a href="https://habr.com/ru/articles/774922/" class="link">Красота не только в коде — как оформлять репозиторий</a></li>
</ul>

{%endblock%}