{% extends 'base.html' %}

{%block content%}

<div class="preview-image">
	<p class="article-title">Projects</p>
	<p class='subtitle center'>My projects</p>
</div>

<div class="project-block">
	<div class="preview-image-white">
		<p class="article-title">Carbon Colorscheme</p>
		<p class='subtitle center'><a href="https://github.com/alexeev-prog/carbon-colorscheme" class="link">GitHub</a></p>
	</div>
	<p>Dark, eye-pleasing, pastel theme</p>
</div>
<br>
<div class="project-block">
	<div class="preview-image-white">
		<p class="article-title">SQLSymphony</p>
		<p class='subtitle center'><a href="https://github.com/alexeev-prog/SQLSymphony" class="link">GitHub</a></p>
	</div>
	<p>A simple and powerful ORM library in Python</p>
</div>
<br>
<div class="project-block">
	<div class="preview-image-white">
		<p class="article-title">aioconsole</p>
		<p class='subtitle center'><a href="https://github.com/alexeev-prog/aioconsole" class="link">GitHub</a></p>
	</div>
	<p>Python library for creating async CLI applications</p>
</div>
<br>
<div class="project-block">
	<div class="preview-image-white">
		<p class="article-title">pyEchoNext</p>
		<p class='subtitle center'><a href="https://github.com/alexeev-prog/pyEchoNext" class="link">GitHub</a></p>
	</div>
	<p>EchoNext is a lightweight, fast and scalable web framework for Python</p>
</div>
<br>
<div class="project-block">
	<div class="preview-image-white">
		<p class="article-title">burn-build</p>
		<p class='subtitle center'><a href="https://github.com/alexeev-prog/burn-build" class="link">GitHub</a></p>
	</div>
	<p>build system written in python for projects in C, C++, Python, ASM</p>
</div>
<br>
<div class="project-block">
	<div class="preview-image-white">
		<p class="article-title">hex64</p>
		<p class='subtitle center'><a href="https://github.com/alexeev-prog/hex64" class="link">GitHub</a></p>
	</div>
	<p>Russian program for benchmark and monitoring computer resources (CPU, RAM, disk, network, etc)</p>
</div>
<br>
<div class="project-block">
	<div class="preview-image-white">
		<p class="article-title">libnumerixpp</p>
		<p class='subtitle center'><a href="https://github.com/alexeev-prog/libnumerixpp" class="link">GitHub</a></p>
	</div>
	<p>A Powerful C++ Library for High-Performance Numerical Computing</p>
</div>
<br>
<div class="project-block">
	<div class="preview-image-white">
		<p class="article-title">shegang</p>
		<p class='subtitle center'><a href="https://github.com/alexeev-prog/shegang" class="link">GitHub</a></p>
	</div>
	<p>Powerful command interpreter (shell) for linux written in C</p>
</div>
<br>
<div class="project-block">
	<div class="preview-image-white">
		<p class="article-title">gnux</p>
		<p class='subtitle center'><a href="https://github.com/alexeev-prog/gnux" class="link">GitHub</a></p>
	</div>
	<p>gnu utilities eXtended</p>
</div>
<br>
<div class="project-block">
	<div class="preview-image-white">
		<p class="article-title">Incicada</p>
		<p class='subtitle center'><a href="https://github.com/alexeev-prog/incicada" class="link">GitHub</a></p>
	</div>
	<p>Asynchronous application for server incident management built with Python & MongoDB</p>
</div>
<br>
<div class="project-block">
	<div class="preview-image-white">
		<p class="article-title">JustProj</p>
		<p class='subtitle center'><a href="https://github.com/alexeev-prog/JustProj" class="link">GitHub</a></p>
	</div>
	<p>JustProj - a toolkit for creating documentation and project management diagrams in Python</p>
</div>

{%endblock%}
